### Basic Intro
In this competetion, you are challenged to build a machine learning model that predicts which Tweets are about real disaster and which ones are not.
![](samuira-logo-01-10-2020.png)
<img src="samuira-logo-01-10-2020.png" width="400">

## What's in this kernel?
- Basic EDA
- Data Cleaning
- Baseline Model

### Importing required libraries.

In [1]:
import pandas as pd

## Loading the data and getting basic idea.

In [2]:
tweet = pd.read_csv('train.csv')

In [3]:
tweet.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
test = pd.read_csv('test.csv')
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [5]:
tweet.shape, test.shape

((7613, 5), (3263, 4))

## Class distribution